<h4>Welcome to Store Admin Dashboard</h4>

<h5>Registered Users:</h5>

<ol>
  <% @users.each do |user| %>
  <li><%= user.username %></li>
  <% end  %>
</ol>


<h5>Tools for Rent:</h5>

<ol>
  <% @tools.each do |tool| %>
  <li><%= tool.name %></li>
  <% end  %>
</ol>
