<h3>Hello, <%= current_user.email %>!</h3>

<h4>Thanks for choosing the <em><%= @rental.tool.name %></em></h4>

<br>

<h4>Please ensure the data on this form are correct to complete your checkout!</h4>
