/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap";
// *,
// *::before,
// *::after {
//     box-sizing: border-box;
// }
:root {
  margin: 30px;
}

.field_with_errors {
  color: red;
  display: inline-block;

}

.today_highlight {
background-color: maroon;
}

// tool index page / Home page customize

.home_page_greeting {
  vertical-align: center;
  text-align: center;
  font-size: 1.5em;
  color: #f96302;
}

.home_page_banner {
  // vertical-align: bottom;
  // color: grey;
  // text-align: center;
  // color: #f96302;
  margin-top: .6em;
  background-image: image-url("power-tools.png");
  background-size: contain;
  background-blend-mode: screen;
  height: 5em;
}
.tool_header_name {
  display: block;
  border-bottom: 1px solid #f96302;
  color: f7f7f7;
}
.tool_header_name:visited {
  text-decoration: none;
}
.tool_header_name a {
  color: #212529;
  text-decoration: none;
}

.tool_header_name a:hover {
  color: #f96302;
}

.tool_image_description_container {
  display: grid;
  // width: min-content;
  grid-column-gap: 1.8em;
  grid-template-areas:
    // "tool_image tool_price"
    // "tool_image tool_condition"
    // "tool_image tool_brand"
    // "tool_image tool_description"
    // "tool_image tool_category";
    "img p"
    "img con"
    "img b"
    "img d"
    "img cat";

    grid-template-columns: 150px 1fr;
}

.tool_image {
  grid-area: img;
  float: inline-block;
  // padding: 10px;
  box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
  0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.tool_button_check_avail {
  // display: inline-block;
  margin: auto;
  text-align: right;
}

.tool_price {
  grid-area: p;
}
.tool_condition {
  grid-area: con;
}
.tool_brand {
  grid-area: b;
}
.tool_description {
  grid-area: d;
}
.tool_category {
  grid-area: cat;
}

// user page customize
.user_rental_page {
  padding-top: 0px;
  // background: #3E4649;
  // color: #f7f7f7;
  font-family: 'segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tool_unreturned {
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(3, 30px) / repeat(4, 120px);
}
.tool_image_unreturned {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}
.tool_name_unreturned {
  grid-row: 1 / 2;
  grid-column: 2 / -1;
}
.tool_date_unreturned {
  grid-row: 2 / 3;
  grid-column: 2 / -1;
}
.tool_date_overdued {
  grid-row: 3 / -1;
  grid-column: 2 / -1;
}



// .tool_image_user_page {
//   float: left;
//   // padding: 0.35em;
// }

.fall-below {
  clear: left;
}

// .navbar,
// .navbar-nav {
//   margin-bottom: 0;
// }
